@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');

.app {
  width: 100vw;
  background-color: #E63946;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

a, p, h1, h2 {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: #E63946;
}
