.cardContainer {
  width: 24vw;
  overflow: hidden;
  margin-right: -4rem;
}

.card {
  height: calc(70vh - 4rem);
  border: 5px solid black;
  border-radius: 5px;
  padding: 1rem 9rem 1rem 2rem;
  background-color: white;
  margin-right: -4rem;
  position: relative;
  left: 25vw;
  transition: 0.3s;
  transition-timing-function: ease-out;
  overflow-y: scroll;

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
  }

  &.card--open {
    transition-timing-function: ease-in;
    transition: 0.3s;
    transform: translateX(-25vw);
    overflow-y: scroll;
  }

  .iconList {
    list-style-type: none;
    list-style: none;
    padding: 0;
  }

  .iconList li {
    display: inline;
    margin-right: 1rem;
  }

  .icon:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 720px) {
  .cardContainer {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.5rem);

    .card {
      height: 100%;
      margin: 0;
      padding: 1rem 2rem;
      top: 100vh;
      left:0;

      &.card--open {
        transform: translateY(-100vh);
      }
    }
  }
}


@media screen and (max-width: 1024px) and (min-width: 720px){
  .cardContainer {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.5rem);

    .card {
      height: 100%;
      margin: 0;
      padding: 1rem 2rem;
      top: 100vh;
      left: 0;

      &.card--open {
        transform: translateX(0);
        transform: translateY(-40vh);
      }
    }
  }
}
