.menu {
  height: calc(70vh - 4rem);
  padding-left: 2rem;
  width: 20vw;
}

.menu p,
.menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  transform: all 0.3s ease;
}

.menu a:hover,
.menu p:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 8px;
  margin: 0;
  padding: 0;
}
